body{
  font-family: 'Poppins', sans-serif;
  background: #1a0f29;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  
}

.header{
  min-height: 100vh;
  background-color: #1a0f29;
  /*background-image: radial-gradient(circle at bottom left, #fc9c54 8%, #fd5e53 13%, #4b3d60, #152852, #08183a, #040b1b);*/
  background-image: url("https://images.unsplash.com/photo-1589879183601-8ff3572a4e5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1398&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.topBar{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 15px 0;
  background-color: #1a1919;
  border-bottom-right-radius: 50px;
  z-index: 5;
}

.item{
  font-size: 25px;
  padding: 0 30px;
  text-decoration: none;
  color: #d4d4d4;
}

.item:hover{
  text-shadow: 0px 5px 30px #bdb7a8;
  text-decoration: underline;
}

#title{
  text-align: center;
  font-size: 100px;
  padding-top: 4cm;
  color: #e6e6e6;
  z-index: 4;
}

h2{
  font-size: 40px;
  color: #b5b5b5;
  padding: 0% 20%;
}

.glow{text-shadow: 0px 5px 30px #bdb7a8;}

.arrow{
  width: 24px;
  height: 24px;
  margin: 0 20%;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
  animation: bob 2s alternate infinite;
  border-radius: 5px;
}

.scrollDown{
  position: absolute;
  top: 90%;
  text-align: center;
  width: 100%;
}

.scrollDown a{
  font-size: 30px;
  color: #e7e5df;
  text-decoration: none;
}

.scrollDown:hover{
  text-shadow: 0px 0px 19px #f6f5f4;
}

@keyframes bob {
  0%{
    margin-top: 20px
  }
  100%{
    margin-top: 0px
  }
}

@keyframes bobTwo {
  0%{
    top: 20px
  }
  100%{
    top: 0px
  }
}

.objMain{
  margin-left:10%;
  text-align: center;
  padding-top: 2cm;
  border-bottom: 2px solid dimgray;
  padding-bottom: 0.5cm;
}

.object{
  display: block;
}

.imgFrame{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 315px;
  height: 315px;
}

img{
  border: 7px outset #a2a7b4;
  width: 300px;
  height: 300px;
  border-radius: 13px;
  box-shadow: 0px 8px 5px #0d0c0c;
  transition: transform 2s;
}

.imgFrame:hover img{
  transform: rotateY(180deg);
}

.imgFrame:hover .imgBack{
  visibility: visible;
  transform: rotateY(0deg);
}

.imgBack{
  visibility: hidden;
  position: relative;
  bottom: 240px;
  left: 90px;
  transform: rotateY(180deg);
  width: 150px;
  transition: transform 2s, visibility 0s 0.55s;
  z-index: 3;
}

.imgBack a{
  text-decoration: none;
  color: white;
}

.imgBack a:hover{
  text-shadow: 0px 0px 19px #f6f5f4;
}

p{
  color: white;
  font-size: 25px;
}

.scale{
  position: sticky;
  top: 0;
  width: 10%;
  text-align: center;
  float: left;
}

.scale p{
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: bolder;
}

.scale p a{
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.scale p a:hover{
  text-shadow: 0px 5px 30px #bdb7a8;
}

h3{
  color: dimgray;
  padding: 0 20%;
}

hr{
  height: 10px;
  background-color: #24212c;
  border: none;
  margin: 0;
}

.nextArr{
  margin-left: 20%;
  color: white;
  font-size: 25px;
  decoration-color: white;
  text-decoration: none;
}

.nextArr:hover{
  text-decoration: underline;
  text-shadow: 0px 0px 6px white;
}

ul{
  color: #d9d9d9;
  font-size: 34px;
  list-style-type: circle;
}

ul > li > a{
  color: #d9d9d9;
  text-decoration: none;
}

ul > li > a:hover{
  text-shadow: 0px 0px 10px #bdb7a8;
}

#ListInfoA{
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1589879183601-8ff3572a4e5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1398&q=80");
  background-opacity: 0.8;
  padding: 1cm;
  margin: 3cm 8% 1.7cm 8%;
  color: white;
  text-shadow: 8px 10px #4b3d61;
  border: 1px solid darkgray;
  font-weight: bold;
  font-size: 50px;
}

.rc{
  margin-left: 35%;
}

.dt{
  color: white;
  font-size: 40px;
  text-decoration: underline;
}

.difo{
  padding: 1cm;
  margin: 0.5cm 0.7cm;
  color: #ababab;
  background-opacity: 0.4;
  border-radius: 30px;
  font-size: 27px;
  background-color: #221f29;
}

.dicription{
  padding: 1cm 0;
  background-image: linear-gradient(to right, #1a0f29, #09060f);
  border-bottom: 1px solid black;
}

.lc{
  box-sizing: border-box;
  display: flex;
  width: 35%;
  float: left;
  justify-content: center;
}

.indicator{
  width: 150px;
  height: 150px;
  color: white;
  background-color: #ababab;
  border-radius: 50%;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.banner{
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: radial-gradient(#c2c2c2, #4d4d4d, black);
}

.right{
  left: 50%;
}

.rule{
  position: absolute;
  top:  25%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #4d4d6f;
  opacity: 0.7;
  color: white;
  font-size: 50px;
  padding: 30px;
  border-radius: 20px;
}