body{
  background-color: #0d0c1c;
}

.description{
  margin: 1cm;
  padding: 0.5cm;
  padding-left: 0;
  background-color: #161b33;
}

.snapLeft{
  margin-left: 0cm;
  border-right: 32px solid #b3afd0;
}

.snapRight{
  margin-right: 0cm;
  border-left: 32px solid #b3afd0;
}

.rightColumn{
  margin-left: 40%;
  color: white;
  font-size: 30px;
  margin-bottom: 1cm;
}

.leftColumn{
  width: 40%;
  float: left;
  color: white;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

img{
  border: 1px solid #474747;
  aspect-ratio: 1/1;
  width: 82%;
  max-width: 300px;
  border-radius: 7px;
  box-shadow: 0px 10px 10px #060416;
}

.subText{
  padding: 0.7cm;
  margin-top: 0.4cm;
  margin-bottom: 0.4cm;
  color: #b3afd0;
  border-radius: 9px;
  font-size: 26px;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px #0d0c0c;
  background-color: #474973;
}

.nextArr{
  margin: 10px 10%;
  color: white;
  font-size: 25px;
  decoration-color: white;
  text-decoration: none;
}

.nextArr:hover{
  text-decoration: underline;
  text-shadow: 0px 0px 6px white;
}

@media screen and (max-width: 500px) {
  .rightColumn {
    display: block;
    margin: 0 5%;
    font-size: 17px;
  }
  .leftColumn {
    float: none;
    width: 100%;
    justify-content: center;
  }
}