ul.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #19191a;
  width: 100%;
  z-index: 3;
}

li {
  float: left;
}

li a, .dropbtn {
  display: block;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
  text-shadow: 0px 0px 20px #ddd6c6;
  text-decoration: underline;
}

li.dropdown {
  display: none;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 500px) {
  li.horz {
    display: none;
  }
  li.dropdown {
    display: block;
    float: none;
  }
}